<div *ngIf="timerService.todoros.length > 0" class="columns is-centered">
    <div class="column has-text-centered">
        <div class="columns is-centered">
            <div class="column is-1 has-text-centered">
                <button mat-raised-button color="primary" (click)="initTimer()">
                    <mat-icon>play_arrow</mat-icon>
                    Start Timer
                </button>
            </div>
            <div class="column is-1 has-text-centered">
                <button mat-raised-button color="accent" (click)="pauseTimer()">
                    <mat-icon>{{isTimerPaused ? 'play_circle_outline' : 'pause'}}</mat-icon>
                    {{isTimerPaused ? 'Resume Timer' : 'Pause Timer'}}
                </button>
            </div>

            <div class="column is-1 has-text-centered">
                <button mat-raised-button color="warn" (click)="resetTimer()">
                    <mat-icon>replay</mat-icon>
                    Reset Timer
                </button>
            </div>

            <div class="column is-1 has-text-centered">
                <button mat-raised-button (click)="openCustomTimerDialog()">
                    Custom Timer
                </button>
            </div>
        </div>
        <h1 [ngClass]="activeFont + '-font'" style="font-size: 700%">{{time || '25:00'}}</h1>
        <div matTooltip="Change the Clock Style!">
            <button mat-mini-fab color="warn" (click)="changeFont()">
                <mat-icon aria-label="Change the font">cached</mat-icon>
            </button>
        </div>


    </div>
</div>
<simple-notifications [options]="utilService.options"></simple-notifications>