@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Colors

$pink-main: #FF3860;
$gray: #f2f2f2;

// Fonts

$fonts: (('Bungee', 'bungee'), ('Cabin Sketch', 'sketch'), ('Monoton', 'monoton'), ('Source Code Pro', 'scp'), ('VT323', 'vt'), ('Zilla Slab Highlight', 'zsh'));

$bungee-font: 'bungee', cursive;
$cabin: 'cabin-sketch', cursive;


html {
  background-color: $gray;
}

$sizes: (0,10,15,20,25,30,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  @each $position in $positions {
    .m-#{$position}-#{$size} {
      margin-#{$position}: $size + px;
    }
    .p-#{$position}-#{$size} {
      padding-#{$position}: $size + px;
    }
  }
}

@each $font, $font-name in $fonts {
  .#{$font-name}-font {
    font-family: $font;
  }
}


.mat-tab-label-active {
  background-color: $pink-main;
  color: white;
}

.small-font {
  font-size: small;
}

